<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    
  
</head>
  
  
  
  
<div class="containerournursery" > 

    <h1 class="ournurserytitle">Our Nursery</h1>

    <h2 class="ournursery">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Located in the heart of Solent University, 
        Nursery Solent offers a vibrant and nurturing environment for 
        the children of students, staff, and community members. 
        We understand the unique needs of families within the university 
        community and are dedicated to providing a supportive and stimulating 
        space that feels like a second home to your child.</h2>

        
        <div class=buttonsmenuournursery>
            <button routerLink="/menu" class="buttonmenu">Main Menu</button>
        </div>      
</div>
<router-outlet></router-outlet>


