<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    
  
</head>
  
<div class="containercontact">
    <h1 class="ournurserytitle">Contact us</h1>
    <form (submit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" ngModel required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" ngModel required>
        </div>
        <div>
            <label for="message">Message:</label>
            <textarea id="message" name="message" ngModel required></textarea>
        </div>
        <div class="buttonsmenuournursery">
            <button type="submit" class="buttonmenu">Submit</button>
        </div>
        <div class=buttonsmenuournursery>
            <button routerLink="/menu" class="buttonmenu">Main Menu</button>
        </div>     
    </form>
</div>
<router-outlet></router-outlet>