<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    
  
</head>
  
  
  
  
<div class="containerournursery" > 

    <h1 class="ournurserytitle">Our Team</h1>

    <div class="imageteam">
            <img src="assets/images/pexels-fauxels-3184398.jpg">
            <img src="assets/images/pexels-sora-shimazaki-5668878.jpg">
        </div>
    <h2 class="ourteam">Nursery Solent is staffed by a team of dedicated, highly qualified early childhood educators passionate about fostering a love of learning in every child. Each member of our team is committed to creating a warm, inclusive, and respectful environment where your child can feel safe and valued.</h2>
    
        
</div>
