<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  

</head>




<div class="container mt-4" >
    <div class="card2">
            <h1 class="welcome title">Welcome to Solent Nursery</h1>
        <div class="image">
            <img src="assets/images/fabrice-villard-Jrl_UQcZqOc-unsplash.jpg">
        </div>
        <div class=buttonsmenu>

            <button routerLink="/our-nursery" class="buttonmenu">Our Nursery</button>
            <button routerLink="/our-team" class="buttonmenu">Our Team</button>
            
            <button routerLink="/studentcrud" class="buttonmenu">Child Information</button>
            <button routerLink="/contact2" class="buttonmenu">Contact us</button>
            
        </div>
            


    </div>
            
    <router-outlet></router-outlet>




