/* You can add global styles to this file, and also import other style files */


body { 

    font-family: Lato , sans-serif; background-image: repeating-linear-gradient(
to right,
#fee5f9 0px,
#fcd6f4 20px,
#ffe5f9 20px,
#ffffff 40px
); 
align-items: center; margin-top: 5%; 
font-weight: bold;

}
.container { width: 80%; margin: auto; background-color: #fff; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);border-radius: 45px; }


.h1{font-size:25px;font-weight: bolder;}

.card{ 
    border-color: rgb(255, 255, 255);
}

.form-control {
    font-family:Lato , sans-serif;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 12px;
    
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#name{
    font-weight: bolder;
}


.card2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 60px;
   
   
    
}


.image img {
    align-items: center;
    width: 38%;
    object-fit: cover;
  }


  .buttonsmenu{
    font-family: Lato;
    display: inline-block;
    padding-bottom: 0%;
    
    
    
    
  

   
  }
  .buttonmenu{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #eee3ea;
    box-shadow: none;
    border-radius: 9%;
    border: #ffffff;
    font-size: larger;
    
    
   

    
  }
  .buttonmenu:hover
  {
    background-color: #fde1f3;
   
  }
  .buttonmenu:active
  {
    background-color: #efc5ff;
  }

 

 .ournurserytitle{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 38px;

    text-align: center;
 }

 .containerournursery{ 
    width: 80%; 
    margin: auto; 
    background-color: #fff; 
    padding: 20px; 
    padding-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px; 
    font-family: 10px;

}
.ournursery{
    font-size: 24px;
    text-align: center;
}


.buttonsmenuournursery{
    margin-left: 44%;
    margin-top: 12%;
    padding-top: 3%;
    padding-bottom: 2%;
    
}
.imageteam {
    display: flex;        
    justify-content: space-between; 
    align-items: center;  
}
    .imageteam img {
    width: 50%;          
  }
.ourteam{
    margin-top: 3%;
    font-size: 20px;
    text-align: center;
}
.containerourteam{ 
    width: 80%; 
    margin: auto; 
    background-color: #fff; 
    padding: 20px; 
    padding-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px; 
    font-family: 10px;

}
.buttonsmenuourteam{
    margin-left: 44%;
    margin-top: 6%;
    padding-top: 0%;
}

.btn-success{
font-size: 10px;
background-color: #f1dafa;
color: black;
border-color: rgb(224, 224, 224);

}

.btn-danger{
font-size: 10px;
border-color: rgb(224, 224, 224);
    
}

.containercontact{
    width: 80%; 
    margin: auto; 
    background-color: #fff; 
    padding: 20px; 
    padding-bottom: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 45px; 
    font-family: 10px;
}
.namebox {
    margin-left: 38%;
    padding-bottom: 2%;
    
}
.mailbox{
    margin-left: 38%; 
    padding-bottom: 2%;
}
.messagebox{
    margin-left: 38%;
    display:flex;
    height: 116px;
    width: 590px; 
   
    
}



.buttonsmenuournursery{
    margin-top: 1%;
    padding-bottom: 5%;

}

   